<!DOCTYPE html>
<html>
<head>
  <title>InternOnly</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<section class='container'>
  <%= render 'partials/header' %>
  <%= yield %>
</section>

</body>
</html>
